/* ISAMA SCSS Site Variables (Anythng used more than once sitewide)*/
$IsamaBlue: #00a1de;
$DefaultGrey: #575756;
$DefaultLightGrey: #eceef4;
$HeadingText: #666666;
$BodyText: #6d6e71;
$FooterGray: #2b2c2d;

$GoogleRed: #dd4b39;    /* https://developers.google.com/+/branding-guidelines */
$TwitterBlue: #55acee;  /* https://about.twitter.com/company/brand-assets */
$FacebookBlue: #3b5998;
$InstagramBlue: #517fa4;
$LinkedinBlue: #007bb6;
$TumblrBlue: #35465c;   /* http://unwrapping.tumblr.com/post/91504567257/tumblr-blue-hex-code-color-35465c */

$SocialGrey: #6d6e71;
$SocialIconSize: 1.5625em;
$SocialFootIconSize: 1.265em;
$BaseFont: 1em;

$ProjectsGray: #ededed;
$ProjectsBtnColor: #cecece;
$ProjectsHoverColor: #6d6e71;


/*  Ems 16px based Table

    Sixteenth Units
    0.0625, 0.125, 0.1875, 0.25, 0.3125, 0.375, 0.4375, 0.5, 
    0.5625, 0.625, 0.6875, 0.75, 0.8125, 0.875, 0.9375, 1

    Conversion
   *4px	   0.25em	    25.0%   3pt
    5px	   0.312em	  31.2%   4pt
    6px	   0.375em	  37.5%   5pt
    7px    0.438em	  43.8%   5pt
   *8px	   0.500em	  50.0%   6pt
    9px	   0.563em	  56.3%   7pt
    10px	 0.625em	  62.5%   8pt
    11px	 0.688em	  68.8%   8pt
   *12px	 0.750em	  75.0%   9pt
    13px	 0.813em	  81.3%   10pt
    14px	 0.875em	  87.5%   11pt
    15px	 0.938em	  93.8%   11pt
   *16px	 1.000em	 100.0%   12pt
    17px	 1.063em	 106.3%   13pt
    18px	 1.125em	 112.5%   14pt
    19px	 1.188em	 118.8%   14pt
   *20px	 1.250em	 125.0%   15pt
    21px	 1.313em	 131.3%   16pt
    22px	 1.375em	 137.5%   17pt
    23px	 1.438em	 143.8%   17pt
   *24px	 1.500em	 150.0%   18pt
*/


/* BODY STYLES */
body {
    font-family: 'Open Sans', sans-serif;
    color: $BodyText;
    h1,h2,h3,h4 {
        color: $HeadingText;
    }
    a, a:hover, a:visited {
        text-decoration: none;
    }
}
#contact { 
    width: 100%; 
    height: 300px;
}


#social-right {
    margin-right: 21px;
}

.btn.outline {
    margin-top: 6px;
    background: none;
    padding: 6px 20px;
    font-size: 1em;
    font-weight: 600;
}
.btn-default.outline {
    border: 2px solid $ProjectsBtnColor;
    color: $ProjectsBtnColor;
}
.btn-default.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: White;
    border-color: White;
    background-color: white;
    background-color: $DefaultGrey;
    border-color: $DefaultLightGrey;
    font-weight: 600;
}
.btn-default.outline.active, .btn-default:active,.btn-default.active.focus {
    outline: 0;
    margin-top: 6px;
    font-weight: 600;
    color: $DefaultGrey;
    background-color: #fff;
    border-color: White;
    box-shadow: none;
}
.btn-default.outline.active:hover{
    color: White;
    background-color: $ProjectsHoverColor;
    border-color: $DefaultLightGrey;
    font-weight: 600;
}
/* Customize default button styles */



/* Optional no gutter grid style */
.header-logo {
    max-width: 100%;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.header-margin {
    margin-top: 110px;
}

/*  Remove horizontal scrollbars */
.row { margin: 0; padding: 0 }

/* Top Navbar Color Override*/
.navbar-default {
    background-color: $DefaultLightGrey;
    border-color: $DefaultLightGrey;
}

/* Bootstrap 3 removed nav bar vertical dividers lets add them back and customize height */
.navbar .divider-vertical {
    height: 63px;
    margin: 0 9px;
    border-left: 1px solid #dee0e6;
}
.navbar-nav > li > a {
    width: 50px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 63px;
}

/* Leave default phone menu heights in tact instead of inheriting custom nav height */
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

/* added styles for modal welcome message*/
.modal-content > .modal-body > p.welcome-login {
    margin-top: 1em;
}


/* Top Left Nav Spacers */
li.spacer {
    margin: 5px 5px 5px 5px;
}
li.spacerFirst {
    margin: 5px 10px 5px 5px;
}

/* SOCIAL LINKS START */
.facebookBlue {
    color: $FacebookBlue;
    font-size: $SocialIconSize;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover .facebookBlue  {
    color: $SocialGrey;
}

.twitterBlue {
    color: $TwitterBlue;
    font-size: $SocialIconSize;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover .twitterBlue  {
    color: $SocialGrey;
}

.instagramBlue {
    color: $InstagramBlue;
    font-size: $SocialIconSize;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover .instagramBlue  {
    color: $SocialGrey;
}

.googleRed {
    color: $GoogleRed;
    font-size: $SocialIconSize;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover .googleRed  {
    color: $SocialGrey;
}
/* SOCIAL LINKS END */


/* CONTACT BAR START */
.tooltip {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -1em;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    border-width: 7px 7px 0;
}
.contact-link + .tooltip > .tooltip-inner {
    background-color: #fff; 
    color: #333; 
    border: 1px solid #d4d4d4; 
    padding: 1em;
    font-size: 1em;
}
.contact-link + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #d4d4d4;
}
.contact-bar {
    margin-top: 55px;
}
.contact-icon {
    color: $SocialGrey;
    font-size: 2em;
}
.contact-bar > ul.list-inline > li > a, .contact-bar > ul.list-inline > li > a:hover .contact-icon  {
    color: $IsamaBlue;
}
.contact-bar .divider-vertical {
    height: 24px;
    margin: 0 9px;
    border-left: 1px solid #bcbec3;
}
.contact-bar > ul.list-inline > li > a.contact-link {
    width: 100px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 63px;
}
/* CONTACT BAR END */


/* SUB NAV START */
.subnav {
    height: 85px;
    border-top: solid 1px $DefaultLightGrey;
    background-color: #fff;
}
.sub-nav-item {
    height: 84px;
    position: relative;
    display: inline-block;
    padding: 32px 24px 24px 24px;
    font-weight: 600;
    color: $DefaultGrey;
    border-right: 1px solid $DefaultLightGrey;
    margin-right: -1px;
    overflow: hidden;
}
.sub-nav > a:last-of-type {
    border-right: none !important;
}

.sub-nav-item:focus {
    color: $IsamaBlue;
    text-decoration: none;
}
.sub-nav .active {
    color: $IsamaBlue;
}
.sub-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-bottom: 0;
    margin-left: -19px;
    vertical-align: middle;
    content: " ";
    border-right: 19px solid transparent;
    border-bottom: 9px solid;
    border-left: 19px solid transparent;
}
.sub-nav .sub-nav-item:hover {
    color: $IsamaBlue;
}
.sub-nav .sub-nav-item:hover:after {
    color: $DefaultGrey;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-bottom: 0;
    margin-left: -19px;
    vertical-align: middle;
    content: " ";
    border-right: 19px solid transparent;
    border-bottom: 9px solid;
    border-left: 19px solid transparent;
}
/* SUB NAV END */


/* MAIN SECTION START */
.mainBg {
    height: 450px;
    background-color: #2973b0;
    background-image: url('images/isami-bg-80_blur.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
/* MAIN SECTION END */


/* ABOUT SECTION START */
.about-section {
    margin-top: 2em;
    padding-top: 2em;
}
.about-section .media-heading {
    margin-top: 0.375em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.688em;
}
/* ABOUT SECTION END*/


/* TITLE SECTION END */
.title-section {
    margin-top: 4em;
    padding-top: 6em;
    padding-bottom: 0.5em;
    background-image: url(/Content/images/title/title-divider.png);
    background-repeat: no-repeat;
    background-position: 0 0, center;
}
.title-section .media-heading {
    margin-top: 0.75em;
    margin-bottom: 0.325em;
    font-weight: 700;
}
/* TITLE SECTION END */


/* SERVICE SECTION START */
.service-section:last-of-type {
    border-left: 1px solid $DefaultLightGrey;
}
.service-section > .col-sm-12 {
    margin-top: 3em;
}
.service-section .media-heading {
    margin-top: 0.312em;
    margin-bottom: 0.75em;
    font-weight: 600;
    font-size: 1.5em;
}
/* SERVICE SECTION END */


/* PROJECTS SECTION START */
.projects-section {
    padding-bottom: 2em;
    background-color: $ProjectsGray;
}
.topCurve {
    padding-top: 4em;
    margin-top: 6em;
    border-radius: 50% 50% 0 0;
    background-color: $ProjectsGray;
    margin-bottom: 0;
}
.projects-section .media-heading {
    margin-top: 2.375em;
    font-weight: 700;
}

/* ProjectBox*/
.projectRow {
    margin-top: 2em;
}
.projectButtons {
    margin-top: 2em;
}
.projectBox {
    margin-top: 0.5em;
    position: relative;
    width: 278px;
    height: 284px;
    background-color: White;
    border-radius: 8px;
    padding-top: 1em;
    .logoBox {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        width: 252px;
        height: 209px;
        background-color: #f5f5f5;
        border-radius: 8px;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }
    }
    .navStripe {
        margin-top: -12px;
    }
    .navStripe a {
        color: #c7c9ce;
        font-size: 1.5em;
    }
    .navStripe a:hover {
            color: $DefaultGrey;
        }
}
/* PROJECTS SECTION END */


/* TEAM SECTION START */
.team-section {
    margin-top: 6em;
    margin-bottom: 3em;
}
.team-section-media {
    margin-bottom: 3em;
}
.memberBox {
    width: 278px;
    height: 394px;
    background-color: #f5f5f5;
    border-radius: 8px;
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding-top: 2em;
    }
    .social-stripe {
    color: $BodyText;
    height: 15%;
    background-color: #fff;
    margin-top: 3em;
    padding-top: 1em;
    }
    .social-stripe ul {
        display: inline;
        border: none;
        margin:-10px;
    } 
    .social-stripe ul li {
        border: none;
        list-style: none;
        display: inline;
        a {
            color: #cdcdcd;
        }
        a:hover {
            color: $DefaultGrey;
            text-decoration: none;
        }
    }
    .social-stripe ul li:before {
     content: " ";
     color: $BodyText;
     margin-right: 1em;
     margin-left: 1em;
     }
     
    .social-stripe ul li.first:before {
     content: " ";
     margin-left: 0 !important;
     }
}
/* TEAM SECTION END */


/* SOCIAL FOOTER START */
#social-foot {
    color: $BodyText;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25em;
}
#social-foot ul {
    display: inline;
    border: none;
    padding: 0;
    margin: 0;
} 
#social-foot ul li.divider-vertical {
    height: 50px;
    margin-right: 1em;
    margin-left: 0.5em;
    border-left: 1px solid $DefaultGrey;
}
#social-foot ul li {
    border: none;
    list-style: none;
    display: inline;
    margin: 0;
    a.facebookBlue {
        color: $SocialGrey;
        font-size: $SocialFootIconSize;
    }
    a.facebookBlue:hover   {
        color: $FacebookBlue;
    }
    a.twitterBlue {
        color: $SocialGrey;
        font-size: $SocialFootIconSize;
    }
    a.twitterBlue:hover   {
        color: $TwitterBlue;
    }
    a.instagramBlue {
        color: $SocialGrey;
        font-size: $SocialFootIconSize;
    }
    a.instagramBlue:hover {
        color: $InstagramBlue;
    }
    a.googleRed {
        color: $SocialGrey;
        font-size: $SocialFootIconSize;
    }
    a.googleRed:hover {
        color: $GoogleRed;
    }
 }
/* SOCIAL FOOTER END */

 
/* FOOTER NAVIGATION START */
footer {
    width:100%;
    height:80px;
    background-color: $FooterGray;
    bottom: 0;
    left: 0;
    padding-top: 2em;
}
#foot-nav {
    color: $BodyText;
}
#foot-nav ul {
    display: inline;
    border: none;
} 
#foot-nav ul li {
    border: none;
    list-style: none;
    display: inline;
    a {
        color: $BodyText;
    }
    a:hover {
        color: $DefaultLightGrey;
        text-decoration: none;
    }
}
#foot-nav ul li:before {
 content: "\2022";
 color: $BodyText;
 margin-right: 0.5em;
 margin-left: 0.25em;
 }
#foot-nav ul li.first:before {
 content: " ";
 }
/* FOOTER NAVIGATION END */
/* FOOTER END */