@{
    ViewBag.Title = "ISAMA Home Page";
    ViewBag.InitModule = "isama-index";
}

<div class="row mainBg">@*Main Bg Loads Here*@</div>

<div data-ng-view="">@*Angular Templates Load Here*@</div>

@section scripts {  }